/* global vars */

$mainColor: #a50d0d;
$textColor: rgb(160, 160, 160);
$headingColor: #333;
$bg: #d2b422;
.main-body {
    background-color: $bg;
}

@font-face {
    font-family: "cairo";
    src: url(../fonts/Cairo-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "cairo";
    src: url(../fonts/Cairo-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "cairo";
    src: url(../fonts/Cairo-SemiBold.ttf);
    font-weight: 600;
}

body {
    font-family: "cairo" !important;
}

.card-text {
    text-align: right;
}

.dropdown-item {
    text-align: right;
}


/* serch   */

.search {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        width: 60%;
        text-align: center;
        padding: 20px;
        box-shadow: 0 0 5px #cecece;
        border-radius: 5px;
        background-color: #fff;
        h1 {
            font-family: "Tourney", cursive;
            font-size: 64px;
            margin-bottom: 64px;
            color: $textColor;
            &::first-letter {
                color: $mainColor;
            }
        }
    }
    .input-group {
        padding: 0px;
        border-radius: 20px;
        box-shadow: 0 0 5px #dcdcdc;
        input {
            padding: 15px !important;
            border-radius: 20px 0 0 20px !important;
            border-bottom: none !important;
            border: 1px solid #ccc !important;
        }
        .input-group-append {
            align-items: flex-end;
            a {
                display: block;
                height: 100%;
                span {
                    height: 100%;
                    padding: 25px;
                    border-radius: 0 20px 20px 0;
                    border: 1px solid #a50d0d;
                    background-color: #a50d0d !important;
                    color: #fff;
                }
            }
        }
    }
}


/* result */

.btn-primary.dropdown-toggle:hover,
.btn-primary.dropdown-toggle:focus,
.btn-primary.dropdown-toggle {
    background-color: $bg !important;
}

.search.result {
    .custom-select {
        width: 30% !important;
        @media(max-width: 575px) {
            width: 50% !important;
        }
    }
    height: fit-content;
    box-shadow: 0 0 5px #ccc;
    .container-fluid {
        flex-direction: revert;
        height: fit-content;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        box-shadow: none;
        align-items: center;
        @media(max-width: 575px) {
            flex-wrap: wrap;
        }
        form {
            flex-basis: 40%;
            @media(max-width: 575px) {
                flex-basis: 100%;
                max-width: 100%;
                margin-bottom: 15px;
            }
            .input-group {
                margin: 0;
                input {
                    height: fit-content;
                    padding: 10px !important;
                }
                a {
                    height: 100%;
                    span {
                        height: 100%;
                        padding: 10px;
                    }
                }
            }
        }
    }
}

.search-results {
    .col-lg-2.col-md-3.col-sm-4.col-xs-6 {
        margin-bottom: 24px;
        @media(max-width: 575px) {
            width: 50% !important;
        }
    }
    padding: 25px 0;
    .card-img-top {
        object-fit: cover;
        min-height: 140px;
    }
    .card {
        width: 100% !important;
        max-width: 100% !important;
    }
    .card-body {
        .card-title {
            font-weight: bold;
            font-size: 10px;
        }
        .rating {
            color: $bg;
            font-size: 9px;
        }
        padding: 0;
        .title {
            padding: 15px;
            padding-bottom: 0;
            @media(max-width: 575px) {
                padding: 10px;
                padding-bottom: 0;
            }
        }
        .card-text {
            padding: 0 15px;
        }
        .footer {
            padding: 10px;
            font-size: 10px;
            color: #000000;
            margin-top: 15px;
            background: $bg !important;
            border-radius: 0 0 5px 5px;
            i {
                margin-right: 5px;
            }
        }
    }
}

// google-result
.google-result {
    .search-results {
        .card {
            border: 1px solid #e8e8e8;
            .card-body {
                padding: 10px;
                .card-title {
                    font-size: 18px !important;
                }
                .title {
                    padding: 0 !important;
                }
                .card-text {
                    margin: 0 !important;
                    padding: 0 !important;
                    font-size: 15px;
                    font-weight: 600;
                }
                .brand-site {
                    color: #bbafaf;
                    font-size: 12px;
                }
            }
        }
    }
}

.lang {
    margin-right: 20px;
    a {
        color: #000
    }
    i {}
}

.search .input-group .input-group-append a span {
    border-radius: 20px 0px 0px 20px !important;
    border: none;
}

.search .input-group input {
    border-radius: 0px 20px 20px 0px !important;
}